/* Custom Styles*/

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: black;
  font-family: Georgia, serif;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

body {
    background: white;
}

::selection,
.reveal .progress span {
    background: #34c46d;
}

.reveal {
    font-family: Georgia, serif;
    color: black;
}

.reveal a:not(.image) {
    color: #34c46d;
}

.reveal .progress {
    height: 7px;
    background: none;
}

.reveal h1 {
    text-shadow: none;
}

.reveal section h2 {
    line-height: 80px;
}
.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
    width: 60%;
}

.reveal section img.dark {
    background: grey;
    padding: 1em;
}

.reveal section img.normalImg {
    width: auto;
    display: inline;
    position: relative;
    bottom: 0;
    margin: 0;
}
.reveal section img.fullWidth {
    width: 100%;
}
.reveal section .img-container {
    position: relative;
}

.reveal section .grid-2 .col {
    float: left;
    width: 48%;
}

.reveal section .grid-2 .col:last-child {
    float: right;
}

.reveal section .grid-2 .row:before,
.reveal section .grid-2 .row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.reveal section .grid-2 .row:after {
    clear: both;
}

.reveal section .grid-2 img {
    width: 100%;
}

.reveal section pre {
    width: auto;
    box-shadow: none;
}
.column {
    width: 50%;
    float: left;
}
.column p {
    padding: 0 50px;
}
.coral {
    /*color: #47d0f8;*/
}

.semi-transparent {
    opacity: 0.3;
}

p.copyright {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
}

.bold {
    font-weight: bold;
}

span.quelle {
    font-size: 20px;
    display: block;
}
span.normal-in-h1 {
    font-size: 0.5em;
}

.reveal section ul li {
    margin-bottom: 20px;
}

.reveal pre {
    font-size: .7em;
}

.nowrap {
    white-space: nowrap;
}

h1.flying-words {
	margin: 100px 0;
}

.flying-item {
	float: left;
	margin-right: 200px;
}

.flyout-group {
	position: relative;
	left:18%;
}

h3.lunch-text {
	margin-top: 30px;
}

span.font-small,
p.font-small {
    font-size: 20px;
}

span.font-medium,
p.font-medium {
    font-size: 26px;
}

.reveal pre code {
    max-height: none;
}

.reveal pre code.code-limit {
    max-height: 600px;
}

.align-left {
    text-align: left;
}